@import "../../styles/responsive.scss";

.singlePage {
  display: flex;
  min-height: 100%;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;

  @include medium {
    flex-direction: column;
    gap: 30px;
  }
  .details {
    flex: 3;
    height: auto;
    .wrapper {
      padding: 30px 50px 30px 30px;

      .info {
        margin-top: 50px;
        .top {
          display: flex;
          justify-content: space-between;

          .post {
            flex-direction: column;
            gap: 20px;
            h1 {
            }
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #888;
              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }
            .price {
              padding: 5px;
              background-color: rgba(254, 285, 81, 0.438);
              border-radius: 5px;
              font-size: 20px;
            }
          }
          .user {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0px 50px;
            gap: 10px;
            background-color: rgba(254, 285, 81, 0.438);
            border-radius: 10%;
            font-weight: 600;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 30px;
          margin-bottom: 30px;
          color: #555;
          line-height: 24px;
        }
      }
    }
  }
  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: auto;
    .wrapper {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 24px;
        height: 24px;
      }

      .title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
      }

      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          background-color: rgba(254, 205, 01, 0.209);
        }
        .featureText {
          span {
            font-size: bold;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .sizes {
        display: flex;
        justify-content: space-between;

        @include large {
          font-size: 12px;
        }

        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .mapContainer {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        button {
          padding: 15px;
          align-items: center;
          background-color: #fcf5f3;
          border: 1px solid #f5c1b5;
          gap: 5px;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
