@import "../../styles/responsive.scss";

.searchBar {
  .type {
    margin-bottom: 2px;
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
        margin-left: 1px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include small {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0px 10px;
      width: 200px;
      border-radius: 10px;

      @include large {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include medium {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include small {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 20px;
        border: 1px solid #999;
      }
    }

    button {
      border: none;
      cursor: pointer;
      width: 64px;
      border-radius: 2px;

      background-color: #fece51;
      flex: 1;

      @include small {
        padding: 10px;
        width: 100%;
        border-radius: 10px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
