<div class="filter">
  <h1>Search results for : <b>Cairo</b></h1>
  <div class="top">
    <div class="item">
      <label for="city">Location : </label>
      <input type="text" id="city" name="city" placeholder=" cityLocation">
    </div>
    <div class="bottom">
      <div class="item">
        <label for="city">Type</label>
        <select name="type" id="type">
          <option value="">any</option>
          <option value="buy">Buy</option>
          <option value="rent">Rent</option>
        </select>
      </div>
      <div class="item">
        <label for="properity">properity</label>
        <select name="properity" id="properity">
          <option value="">any</option>
          <option value="apartment">Apartment</option>
          <option value="house">House</option>
          <option value="condo">Condo</option>
          <option value="land">Land</option>
        </select>
      </div>
      <div class="item">
        <label for="min-price">Min Price </label>
        <input type="number" id="minPrice" name="minPrice" placeholder="any">
      </div>
      <div class="item">
        <label for="max-price">Max Price </label>
        <input type="number" id="maxPrice" name="maxPrice" placeholder="any">
      </div>
      <div class="item">
        <label for="city">bedroom</label>
        <input type="text" id="bedroom" name="bedroom" placeholder=" bedroom">
      </div>
      <button>
        <img src="images/search.png" alt="">
      </button>
    </div>
  </div>
</div>