<nav>
  <div class="left">
    <a class="logo">
      <img src="images/logo.png" alt="logo" />
      <span>Anas Estate</span>
    </a>
    <a href="/">home</a>
    <a href="/">about</a>
    <a href="/">others</a>
  </div>
  <div class="right">
    <a href="/">sign in</a>
    <a href="/" class="sign-up">
      sign up
    </a>
    <div class="menuIcon" (click)="toggleMenu()">
      <img src="images/menu.png" alt="menu" />
    </div>
    <div [ngClass]="open ? 'menu active' : 'menu'">
      <a href="/">home</a>
      <a href="/">about</a>
      <a href="/">sign in</a>
      <a href="/">sign up</a>
    </div>
  </div>
</nav>