<div class="homePage">
  <div class="textContainer">
    <div class="wrapper">
      <h1 class="titl">Find Real Estate & Get Your Dream Place</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        odit adipisci, mollitia illum harum placeat numquam nemo aspernatur
        neque dolorum officiis quod nihil asperiores laboriosam, animi
        sequi. Quam, inventore totam?
      </p>
      <!-- search bar -->
      <app-searchbar></app-searchbar>
      <div class="boxes">
        <div class="box">
          <h1>16+</h1>
          <h2>Years of Experience</h2>
        </div>
        <div class="box">
          <h1>200</h1>
          <h2>Award Gained</h2>
        </div>
        <div class="box">
          <h1>1200+</h1>
          <h2>Property Ready</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="imgContainer">
    <img src="images/bg.png" alt="" />
  </div>
</div>